@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: calc(1vw / 3.75);
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  background: inherit;
}

::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body:has(#contactForm) {
  overflow: hidden;
}

/* burger menu */
.hamburger {
  width: 24rem;
  height: 23rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  /* z-index: 10; */
}

.burger {
  width: 24rem;
  height: 2rem;
  /* border-radius: 10px; */
  background-color: black;
  transform-origin: 1rem;
  transition: all 0.2s linear;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: calc(1vw / 14.4);
  }
}
